img.logo {
    width: 37%;
}

nav.navbar.navbar-default {
    height: 12%;
    margin-bottom: 0;
 }

 .banner{
 	background-color: green;
 	width: 100%;
 	min-height: 350px;	
 }

 .frase{
 	background-color: gray;
 	width: 100%;
 }