img.logo {
    width: 37%;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
 }
img.logo {
  width: 70px;
 }

/*Banner*/
 .banner{
 	background-color: green;
 	width: 100%;
 	min-height: 350px;	
 }

 /*Frase*/

 .frase{
 	background-color: gray;
 	width: 100%;
 }

 p.text-center {
    padding: 5%;
 }

 /*Vision Mision*/

 .imagen {
    width: 30%;
    margin: 0 auto;
    margin-top: 4%
   }

/*Metodologia*/

.izquierda{
	width: 100%;
	background-image: url(../img/izquierda.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
}   

.iconometodologia {
    width: 15%;
    margin: 0 auto;
}

.derecha {
    width: 100%;
    background-image: url(../img/Metodologia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
  }

  /*Servicios*/

  .titulo-servicios {
    padding-top: 4%;
  }
.imagen-servicios{
	width: 20%;
	margin: 0 auto;
}